* {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

iframe {
    height: 15rem;
    width: 35rem;
}

#cabecario {
    background-color: #2083b1;
    border-bottom: 4px solid rgb(168, 170, 170);
    box-shadow: 0px 0px rgb(160, 160, 160);
    margin: 0px;
    padding: 1rem 2rem 1.5rem 1.4rem;
    display: flex;
    align-items: center;
    white-space: nowrap;

}

#cabecario h1 {
    padding: 0px 10rem 0rem 15rem;
    justify-items: center;
    color: rgb(250, 250, 86);

    font-family: Arial, Helvetica, sans-serif;
}

#cabecario a {
    padding: 5px 10px 0px 7px;
    color: rgba(255, 255, 0, 0.877);
    font-size: 20px;
    style: none;
    background-size: 20px;
    width: 100px;
    border-radius: 30%;
    display: inline;

}

#cabecario a:hover {
    color: rgba(0, 41, 255, 0.500);
}

#foto {
    align-items: center;
    padding: 10px 40px 2px 100px;
    float: right;
    border-radius: 0%;
}

#article1 {
    padding: 3rem;
    margin: 0rem;
    display: flex;
    background-color: rgb(182, 193, 216);
    justify-content: center;
    max-width: 100%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

#article1 h2 {
    position: static;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 0px 9px 0px;
    color: rgb(0, 0, 0);
}

#texto1 {
    padding: 0.5rem;
}

#foto1 {
    border-radius: 10%;
    height: 100%;
    position: static;
    display: flex;
    border: 2px solid rgb(185, 182, 182);
    flex-direction: row-reverse;
}

#article2 {
    padding: 3rem;
    margin: 0rem;
    display: flex;
    background-color: rgb(182, 193, 216);
    justify-content: center;
    max-width: 100%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#article2 iframe {
    padding: 1rem 1rem 0rem 8rem;
    background-color: ;
    float: right;

}

#article2 h2 {
    padding: 0rem 0rem 1rem 0rem;
}

#contatos {
    padding: 3rem;
    margin: 0rem;
    display: center;
    background-color: rgb(182, 193, 216);
    justify-content: center;
    max-width: 100%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}

#contatos h2 {
    position: static;
}

#botaozap {
    float: right 6rem;
    padding: 0rem;
}