* {
    margin: 0;

    box-sizing: content-box;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
}

main {
    display: flex;
    justify-content: center;
    line-height: 1.3rem;
}

iframe {
    height: 19rem;
    width: 55rem;
    max-width: auto;
    max-height: auto;
    margin: 2rem;
}

#cabecario {
    background-color: rgb(82, 122, 209);
    border-bottom: 4px solid rgb(168, 170, 170);
    box-shadow: 1px 0px rgb(160, 160, 160);
    margin: 0px;
    padding: 0rem 2rem 1rem 1.4rem;
    display: flex;
    align-items: center;
    white-space: nowrap;

}

#cabecario h1 {
    padding: 0px 10rem 0rem 15rem;
    justify-items: center;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    font-family: "Sen", sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000
}

#cabecario a {
    padding: 2px 10px 0px 7px;
    color: rgba(0, 0, 0, 0.877);
    font-size: 20px;
    text-decoration: wavy;
    background-size: 20px;
    width: 100px;
    border-radius: 30%;
    display: inline;
    margin-left: auto;
    text-shadow: 2px 2px 4px #ffffff
}

#cabecario a:hover {
    color: rgba(252, 252, 252, 0.5);
}

#foto {
    align-items: center;
    padding: 10px 40px 2px 100px;
    float: right;
    border-radius: 10px;

}

#article1 {
    padding: 3rem 1rem 2rem 1rem;
    margin: 0rem;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    max-width: 100%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 4px solid rgb(168, 170, 170);
    box-shadow: 1px 0px rgb(160, 160, 160);
}

#article1 h2 {
    display: flex;
    font-size: 2.1rem;
    margin: 0px 0px 9px 0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-shadow: 2px 2px 1px #ffffff
}

#texto1 {
    padding: 0.5rem;
}

#foto1 {
    height: 100%;
    position: static;
    display: flex;
    border: 2px solid rgb(185, 182, 182);
    flex-direction: row-reverse;
    box-shadow: 2px 2px rgb(182, 193, 216);
}

#article2 {
    padding: 0rem 3rem 0rem 3rem;
    margin-left: 5rem;
    margin: 0rem;
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgb(45, 102, 224);
    align-items: center;
    max-width: 100%;
    font-size: 20px;
    flex-direction: row-reverse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    justify-content: center;
    border-bottom: 4px solid rgb(168, 170, 170);
    box-shadow: 1px 0px rgb(160, 160, 160);
}

#article2 iframe {
    padding: 1rem 4rem 0rem 0.2rem;
    float: right;
    flex-wrap: nowrap;
    position: static;


}

#article2 h2 {
    padding: 0rem 0rem 1rem 0rem;
    font-size: 2.2rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 2px 2px 1px #000000
}

#contatos {
    padding: 3rem 0rem 7rem 2rem;
    margin: 0rem;
    display: row;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    border-bottom: 2px solid rgb(160, 160, 160);
    box-shadow: 0.5px 0px rgb(160, 160, 160);
}

#contatos h2 {
    position: static;
    color: #000000;
    font-size: 2.2rem;
    align-content: center;
    justify-content: center;
}

#botaozap {
    padding: 0.1rem;
    margin-top: 1rem;
    max-width: 10%;
    border: rgb(37, 216, 37) 2px solid;
    height: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

#botaozap:hover {
    border-color: #1639ff;
}



#footer {
    padding: 1rem 2rem 0.5rem 0rem;
    margin: 0rem;
    display: flex;
    background-color: rgb(82, 122, 209);
    justify-content: center;
    align-items: self-start;
    color: rgb(247, 245, 245);
    align-items: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    font-weight: 18px;
    border-bottom: 2px solid rgb(160, 160, 160);
}

#footer h2 {
    font-size: 20px;
    position: static;
    color: rgb(250, 250, 250);
    padding: 0rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#footer a {
    padding: 2rem 0rem 2rem 0.8rem;
    text-decoration: none;
    justify-content: center;
    color: rgb(19, 18, 18);
    margin: 0.2rem;
}

#footer a:hover {
    color: #3cff00;
}

.sen-uniquifier {
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

@media screen and (max-width: 768px) {
    iframe {
        width: 100%;
        height: auto;

    }

    #cabecario h1 {
        padding: 0px 2rem 0rem 2rem;
        font-size: 1.5rem;
    }

    #article1,
    #article2 {
        flex-direction: column;
        padding: 1rem;
    }

    #article2 iframe {
        padding: 1rem 0rem 1rem 0rem;
        width: 100%;
        height: auto;
    }

    #foto {
        padding: 1rem;
        width: 10%;
        height: auto;
    }

    #botaozap {
        max-width: 10%;
        max-height: 20%;
    }

    #foto1 {
        width: 10%;
        height: auto;
    }

}