* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

iframe {
    height: 19rem;
    width: 55rem;
    max-width: auto;
    max-height: auto;
    margin: 2rem;
}

#cabecario {
    background-color: rgb(82, 122, 209);
    border-bottom: 4px solid rgb(168, 170, 170);
    box-shadow: 1px 0px rgb(160, 160, 160);
    margin: 0px;
    padding: 1rem 2rem 1.5rem 1.4rem;
    display: flex;
    align-items: center;
    white-space: nowrap;

}

#cabecario h1 {
    padding: 0px 10rem 0rem 15rem;
    justify-items: center;
    color: rgb(250, 250, 86);
    margin-left: auto;
    margin-right: auto;
    font-family: "Krona One";
    text-decoration: none;

}

#cabecario a {
    padding: 5px 10px 0px 7px;
    color: rgba(255, 255, 0, 0.877);
    font-size: 20px;
    text-decoration: wavy;
    background-size: 20px;
    width: 100px;
    border-radius: 30%;
    display: inline;
    margin-left: auto;


}

#cabecario a:hover {
    color: rgba(0, 41, 255, 0.500);
}

#foto {
    align-items: center;
    padding: 10px 40px 2px 100px;
    float: right;
    border-radius: 2rem;

}

#article1 {
    padding: 3rem;
    margin: 0rem;
    display: flex;
    background-color: rgb(182, 193, 216);
    justify-content: center;
    max-width: 100%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 4px solid rgb(168, 170, 170);
    box-shadow: 1px 0px rgb(160, 160, 160);
}

#article1 h2 {
    position: static;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 0px 9px 0px;
    color: rgb(88, 88, 247);
}

#texto1 {
    padding: 0.5rem;
}

#foto1 {
    border-radius: ;
    height: 100%;
    position: static;
    display: flex;
    border: 2px solid rgb(185, 182, 182);
    flex-direction: row-reverse;
    box-shadow: 2px 2px rgb(182, 193, 216);
}

#article2 {
    padding: 2rem 3rem 1rem 3rem;
    margin-left: 5rem;
    margin: 0rem;
    display: flex;
    color: aliceblue;
    background-color: rgb(82, 122, 209);
    align-items: center;
    max-width: 100%;
    font-size: 20px;
    flex-direction: row-reverse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    justify-content: center;
    border-bottom: 4px solid rgb(168, 170, 170);
    box-shadow: 1px 0px rgb(160, 160, 160);
}

#article2 iframe {
    padding: 2rem 4rem 0rem 1rem;
    float: right;
    flex-wrap: nowrap;
    position: static;


}

#article2 h2 {
    padding: 0rem 0rem 1rem 0rem;
    align-items: ;
}

#contatos {
    padding: 3rem 0rem 7rem 2rem;
    margin: 0rem;
    display: row;
    align-items: center;
    text-align: center;
    background-color: rgb(182, 193, 216);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    border-bottom: 4px solid rgb(168, 170, 170);
    box-shadow: 1px 0px rgb(160, 160, 160);
}

#contatos h2 {
    position: static;
    color: rgb(88, 88, 247);
    align-content: center;
}

#botaozap {
    padding: 0rem;
    margin-top: 1rem;
    max-width: 10%;
    border: rgb(37, 216, 37) 2px solid;
    height: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(30, 255, 0);
    color: blue;
}
#botaozap:hover{
    

}


h2 {
    color: rgb(219, 235, 0);
}

#footer {
    padding: 5rem 2rem 5rem 0rem;
    margin: 0rem;
    display: flex;
    background-color: rgb(82, 122, 209);
    justify-content: center;
    color: aliceblue;
    align-items: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    font-weight: 18px;
}

#footer h2 {
    font-size: 20px;
    position: static;
    color: rgb(255, 253, 253);
    padding: 0rem;
    display: flex;
}

#footer a {
    padding: 2rem 0rem 2rem 0.8rem;
    text-decoration: none;
    justify-content: center;
    color: rgb(4, 0, 255);
    margin: 0.2rem;
}
#footer a:hover{
    color: #000;
}